# Django
DEBUG=false
SECRET_KEY=change-me-in-prod
ALLOWED_HOSTS=checkauto.seudominio.com

# Banco (o host deve ser "db" pois é o nome do serviço no docker-compose)
DATABASE_URL=postgres://checkauto:checkauto@db:5432/checkauto

# Google Drive
GOOGLE_DRIVE_REDIRECT_URI=https://checkauto-backend.onrender.com/api/drive/oauth2/callback/

# Postgres (usado pelo container "db")
POSTGRES_DB=checkauto
POSTGRES_USER=checkauto
POSTGRES_PASSWORD=senha-forte-aqui
