{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}CheckAuto{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="manifest" href="{% static 'pwa/manifest.json' %}">
  <meta name="theme-color" content="#0f172a">

  {% block head_extra %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}

  <script src="{% static 'shared/api.js' %}"></script>
  <script src="{% static 'pwa/js/api.js' %}"></script>
  <script src="{% static 'pwa/js/db.js' %}"></script>
  <script src="{% static 'pwa/js/app.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
